html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#root,
.main {
  height: 100%;
}

body {
  background-image: url('https://peda.net/sastamala/pl/yrittajyyskasvatus/maisema-jpg:file/download/b57ae19feb22b1bf7ac59124c06dcfc7789a172a/maisema.jpg');
  background-size: 100% auto;
}

.Button {
  width: 50px;
  height: auto;
  position: absolute;
}

.Button img {
  width: 100%;
  height: 100%;
}

.Button img.contentBox {
  width: auto;
  height: auto;
}

.main {
  position: relative;
}

.contentBox {
  width: 500px;
  display: none;
  color: #fff;
}

.Button.open > .contentBox {
  display: block;
}
