html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root,
.main { height: 100%; }

.main { position: relative; }

body {
  background-image: $backgroundImage;
  background-size: cover;
  background-position: bottom;
}

.contentBox {
  width: 500px;
  display: none;
  color: #fff;
  position: absolute;
}
